<div class="row">
  <!-- [ sample-page ] start -->
  <div class="col-xl-3 col-md-6">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-credit-card"></i>
            </div>
          </div>
          <div class="col-auto">
            <div class="btn-group" ngbDropdown>
              <a type="button" class="avtar bg-secondary dropdown-toggle arrow-none" data-bs-toggle="dropdown" ngbDropdownToggle>
                <i class="ti ti-dots"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                <li><button class="dropdown-item" type="button">Import Card</button></li>
                <li><button class="dropdown-item" type="button">Export</button></li>
              </ul>
            </div>
          </div>
        </div>
        <span class="text-white d-block fs-1 fw-bold my-2">{{totalAccounts}}<i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
        <p class="mb-0 opacity-50">Total Accounts</p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-primary-dark dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-user"></i>
            </div>
          </div>
          <!--<div class="col-auto">
            <div class="btn-group" ngbDropdown>
              <a type="button" class="avtar bg-primary dropdown-toggle arrow-none" data-bs-toggle="dropdown" ngbDropdownToggle>
                <i class="ti ti-dots"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                <li><button class="dropdown-item" type="button">Import Card</button></li>
                <li><button class="dropdown-item" type="button">Export</button></li>
              </ul>
            </div>
          </div>-->
        </div>
        <span class="text-white d-block fs-1 fw-bold my-2">{{totalCustomers}}<i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
        <p class="mb-0 opacity-50">Total Customers</p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-credit-card"></i>
            </div>
          </div>
          <div class="col-auto">
            <div class="btn-group" ngbDropdown>
              <a type="button" class="avtar bg-secondary dropdown-toggle arrow-none" data-bs-toggle="dropdown" ngbDropdownToggle>
                <i class="ti ti-dots"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                <li><button class="dropdown-item" type="button">Import Card</button></li>
                <li><button class="dropdown-item" type="button">Export</button></li>
              </ul>
            </div>
          </div>
        </div>
        <span class="text-white d-block fs-1 fw-bold my-2">{{totalTransactions}}<i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
        <p class="mb-0 opacity-50">Total Transactions</p>
      </div>
    </div>
  </div>
  <!--<div class="col-xl-3 col-md-6">
    <div class="card bg-primary-dark dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-credit-card"></i>
            </div>
          </div>
          <div class="col-auto">
            <ul ngbNav class="nav-tabs nav-pills" #nav="ngbNav" (navChange)="onNavChange($event)">
              <li class="nav-item" [ngbNavItem]="1">
                <a class="nav-link text-white" ngbNavLink>Month</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-6">
                      <span class="text-white d-block fs-1 fw-bold my-2">$108<i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
                      <p class="mb-0 opacity-50">Total Earning</p>
                    </div>
                    <div class="col-6">
                      <div id="tab-chart-1"></div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li class="nav-item" [ngbNavItem]="2">
                <a class="nav-link text-white" ngbNavLink>Year</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-6">
                      <span class="text-white d-block fs-1 fw-bold my-2">$961<i class="ti ti-arrow-down-right-circle opacity-50"></i></span>
                      <p class="mb-0 opacity-50">C/W Last Year</p>
                    </div>
                    <div class="col-6">
                      <div id="tab-chart-2"></div>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
          </div>
        </div>
        <div [ngbNavOutlet]="nav"> </div>
      </div>
    </div>
  </div>-->
  <div class="col-xl-3 col-md-12">
    <div class="card bg-primary-dark dashnum-card dashnum-card-small text-white overflow-hidden">
      <span class="round bg-primary small"></span>
      <span class="round bg-primary big"></span>
      <div class="card-body p-3">
        <div class="d-flex align-items-center">
          <div class="avtar">
            <i class="text-white ti ti-credit-card"></i>
          </div>
          <div class="ms-2">
            <h4 class="text-white mb-1">${{totalAmountTransactions}} <i class="ti ti-arrow-up-right-circle opacity-50"></i></h4>
            <p class="mb-0 opacity-50 text-sm">Total Amount Transactions</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card dashnum-card dashnum-card-small overflow-hidden">
      <span class="round bg-warning small"></span>
      <span class="round bg-warning big"></span>
      <div class="card-body p-3">
        <div class="d-flex align-items-center">
          <div class="avtar bg-light-warning">
            <i class="text-warning ti ti-credit-card"></i>
          </div>
          <div class="ms-2">
            <h4 class="mb-1">${{totalAvgTransactions}} <i class="ti ti-arrow-up-right-circle opacity-50"></i></h4>
            <p class="mb-0 opacity-50 text-sm">Average Amount transactions</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Graphic by product or card type -->
  <div class="col-xl-8 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <small>Total Growth</small>
            <h3>$2,324.00</h3>
          </div>
          <div class="col-auto">
            <select class="form-select">
              <option>Today</option>
              <option selected>This Month</option>
              <option>This Year</option>
            </select>
          </div>
        </div>
        <div id="growthChart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [responsive]="chartOptions.responsive"
            [xaxis]="chartOptions.xaxis"
            [colors]="chartOptions.colors"
            [grid]="chartOptions.grid"
            [tooltip]="chartOptions.tooltip"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- distribution by Type-->
      <div  class="col-xl-6 col-md-12" id="chartType">
        <div class="card">
          <div class="card-body">
            <div class="card-title text-center fw-bolder">Distribution of users according to account tier
            </div>
            <apx-chart
              [series]="chartOptionsType.series"
              [chart]="chartOptionsType.chart"
              [labels]="chartOptionsType.labels"
              [fill]="chartOptionsType.fill"
              [stroke]="chartOptionsType.stroke"
              [responsive]="chartOptionsType.responsive"
            ></apx-chart>
          </div>
        </div>
      </div>

      <!-- distribution by Age-->
      <div  class="col-xl-6 col-md-12" id="chartAge">
        <div class="card">
          <div class="card-body">
            <div class="card-title text-center fw-bolder">Distribution of users according to slice age
            </div>
            <apx-chart
              [series]="chartOptionsAge.series"
              [chart]="chartOptionsAge.chart"
              [labels]="chartOptionsAge.labels"
              [fill]="chartOptionsAge.fill"
              [stroke]="chartOptionsAge.stroke"
              [responsive]="chartOptionsAge.responsive"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Recent Transactions -->
  <div class="col-xl-4 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <h4>Recent Transactions</h4>
          </div>
          <div class="col-auto"> </div>
        </div>
        <div class="rounded bg-light-secondary overflow-hidden mb-3">
          <div class="px-3 pt-3">
            <div class="row mb-1 align-items-start">
              <div class="col-auto">
                <h5 class="text-secondary mb-0">Acc ID : {{bigRecentTransaction.account_id}}</h5>
                <small class="text-muted">{{bigRecentTransaction.transactions.date.$date.split('T')[0]}}</small>
              </div>
              <div class="col-auto">
                <h4 class="mb-0">$ {{ parseFloat(bigRecentTransaction.transactions.total).toFixed(2) }} </h4>
                <small class="text-muted">Trans ID : {{bigRecentTransaction._id.$oid}}</small>
              </div>
            </div>
          </div>
          <div id="bajajchart">
            <apx-chart
              [series]="chartOptions1.series"
              [chart]="chartOptions1.chart"
              [dataLabels]="chartOptions1.dataLabels"
              [plotOptions]="chartOptions1.plotOptions"
              [responsive]="chartOptions1.responsive"
              [colors]="chartOptions1.colors"
              [stroke]="chartOptions1.stroke"
            ></apx-chart>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-0" *ngFor="let list of recentTransactions">
            <div class="row align-items-start">
              <div class="col">
                <h5 class="mb-0">Acc ID : {{ list.account_id }}</h5>
                <small class="text-success">{{ list.transactions.date.$date.split('T')[0] }}</small>
              </div>
              <div class="col-auto">
                <div class="d-flex justify-content-between">
                  <h4 class="mb-0">$
                    {{ parseFloat(list.transactions.total).toFixed(2)
                    }}
                  </h4>
                  <span class="ms-2 align-top avtar avtar-xxs bg-light-success d-block"><i class="ti ti-chevron-up text-success"></i></span>
                </div>
                <small class="text-muted">Trans ID : {{bigRecentTransaction._id.$oid}}</small>
              </div>
            </div>
          </li>
        </ul>
        <div class="text-center">
          <a href="javascripr:" class="b-b-primary text-primary">View all <i class="ti ti-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>

<!--  classification of customers by adress-->
  <div class="col-xl-12 col-md-12 col-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title text-center fw-bolder">Distribution of users according to postal code
        </div>
        <!--The content below is only a placeholder and can be replaced.-->
        <div id="chart">
          <apx-chart
            [series]="chartOptionsGroup.series"
            [chart]="chartOptionsGroup.chart"
            [xaxis]="chartOptionsGroup.xaxis"
            [yaxis]="chartOptionsGroup.yaxis"
          ></apx-chart>
        </div>
      </div>
    </div>

  </div>




  <!-- [ sample-page ] end -->
</div>
